<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="~/lib/bootstrap/dist/css/*.min.css" />
    <title>@ViewBag.Title</title>
    <style>
        .input-validation-error {
            border-color: red;
            background-color: #fee;
        }
    </style>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</head>
<body class="m-1 p-1">
    <div class="row bg-info p-2">
        <div class="col-8  p-2">
            <h4>@ViewBag.Title</h4>
        </div>
        <div class="col-4 text-right p-2">
            <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
            <a class="btn btn-primary" asp-controller="Admin" asp-action="List">Panel</a>
            <a class="btn btn-primary" asp-controller="Admin" asp-action="Create">Create</a>

        </div>
    </div>

    @if (TempData["message"] != null)
     {
        <div class="alert alert-success">@TempData["message"]</div>
     }
    @RenderBody()
</body>
</html>
