@model MySite.Models.ViewModels.PostTagViewModel

@{
    Layout = "_AdminLayout";
    ViewBag.Title = "Edit Post";
}

<form asp-action="Edit" asp-controller="Admin" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="Post.Post.Id" />
    <div class="form-group">
        <label asp-for="Post.Post.NamePost"></label>
        <div><span asp-validation-for="Post.Post.NamePost" class="text-danger"></span></div>
        <input asp-for="Post.Post.NamePost" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Post.Post.DescriptionPost"></label>
        <div><span asp-validation-for="Post.Post.DescriptionPost" class="text-danger"></span></div>
        <textarea asp-for="Post.Post.DescriptionPost" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Post.Post.Time"></label>
        <div><span asp-validation-for="Post.Post.Time" class="text-danger"></span></div>
        <input asp-for="Post.Post.Time" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Post.StringTag"></label>
        <input asp-for="Post.StringTag" class="form-control"/>
    </div>
    <div class="form-group">
        <img src="@Model.Post.Post.ImagePatch" style='width:100px; height:80px;'/>
        <input type="file" name="uploadedFile" /><br>
    </div>
    
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="List" class="btn btn-secondary">Cancel</a>
    </div>
</form>
